apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: ${INDUSTRY}-frontend
  annotations:
    run.googleapis.com/launch-stage: GA
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/minScale: '0'
        autoscaling.knative.dev/maxScale: '5'
    spec:
      containerConcurrency: 80
      timeoutSeconds: 300
      containers:
        - image: gcr.io/${PROJECT}/${INDUSTRY}-frontend:${TAG}
          ports:
            - containerPort: 80
          resources:
            limits:
              cpu: '1'
              memory: 256Mi
